body {
    background-color: #e6e6e6;
}

    @media (min-width: 992px) {
        body {
            background-image: -webkit-linear-gradient(left, #90bb90 25%, #e6e6e6 25%, #e6e6e6 25%);
            background-image: linear-gradient(left, #90bb90 25%, #e6e6e6 25%, #e6e6e6 25%);
        }
    }

.jumbotron {
    background-color: #f4deb5;
    border-bottom: 30px solid #e6e6e6;
    margin-bottom: 0px;
    text-align: center;
}

.main > .container {
    padding-left: 30px;
}

.sidebar {
    background-color: #90bb90;
}

    @media (min-width: 992) {
        .sidebar {
            background-color: transparent;
        }
    }

    .sidebar h4 {
        color: #f4deb5;
        font-weight: bold;
    }

    .sidebar p {
        color: white;
    }