body {
  background-color: #e6e6e6;
}

  @media (min-width: 992px) {
    body {
      background-image: -webkit-linear-gradient(left, #90bb90 25%, #e6e6e6 25%, #e6e6e6 25%);
      background-image: linear-gradient(left, #90bb90 25%, #e6e6e6 25%, #e6e6e6 25%);
    }
  }

.btn-default {
  color: #333;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
  padding: 10px 16px;
}

  .btn-default:focus,
  .btn-default.focus {
    color: #333;
    background-color: #bfbfbf;
    border-color: #bfbfbf;
  }

  .btn-default:hover {
    color: #333;
    background-color: #bfbfbf;
    border-color: #bfbfbf;
  }

  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #bfbfbf;
    border-color: #8c8c8c;
  }

  .btn-default:active:hover,
  .btn-default.active:hover,
  .open > .dropdown-toggle.btn-default:hover,
  .btn-default:active:focus,
  .btn-default.active:focus,
  .open > .dropdown-toggle.btn-default:focus,
  .btn-default:active.focus,
  .btn-default.active.focus,
  .open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #bfbfbf;
    border-color: #8c8c8c;
  }

.jumbotron {
  background-color: #f4deb5;
  border-bottom: 30px solid #e6e6e6;
  margin-bottom: 0;
  text-align: center;
}

.main > .container {
  padding-left: 30px;
}

.sidebar {
  background-color: #90bb90;
}

  @media (min-width: 992) {
    .sidebar {
      background-color: transparent;
    }
  }

  .sidebar h4 {
    color: #f4deb5;
    font-weight: bold;
  }

  .sidebar p {
    color: white;
  }

ul li {
  margin-left: -20px;
}